{% extends "base.html" %} 
{% block title %}Modifier un article{% endblock %} {% block content%}
<div class="container mt-4">
    <div class="row justify-content-center align-items-center">
        <form class="col-6" action="/admin-post" method="POST">
            <h3>Modifier l'article {{ article['identifiant']}}</h3>
            <div class="form-group">
                <label for="formation">Titre :</label><br>
                <input type="text" id="titre" name="titre" class="form-control form-control-lg" value="{{ article.titre }}">
            </div>
            <div class="form-group">
                <label for="formation">Paragraphe :</label><br>
                <textarea id="paragraphe" name="paragraphe" class="form-control form-control-lg">{{ article.paragraphe }}</textarea>
            </div>
            <div class="form-group">
                <input type="hidden" id="identifiant" name="identifiant" class="form-control" title="Identifiant" value="{{ article['identifiant'] }}">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Modifier</button>
                <button type="reset" class="btn btn-secondary">Annuler</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}