{% extends "base.html" %}
{% block title %}Accueil{% endblock %}
{% block content%}
  <header>
      <h1>Projet de session: Programmation Web Avancé</h1>
    </header>
    <main>
      <section>
        <p>Ce projet réalisé avec Flask consiste à récupérer un ensemble de données provenant de la ville de Montréal et d'offrir des services à partir de ces données. Il s'agit de données ouvertes à propos d'établissements ayant reçu des constats d'infraction lors d'inspections alimentaires.</p>
      </section>
      <section>
        <h2>Fonctionnalités</h2>
        <p>Un BackgroundScheduler met à jour la base de données tous les soirs à minuit.</p>
        <p>Les fonctionnalités implémentées dans la page Rechercher sont :</p>
        <ul>
          <li>La première page de recherche permet de rechercher les contraventions par: nom d'établissement, propriétaire, rue. </li>
          <li>La deuxième page de recherche permet de rechercher les contravenants entre deux dates.</li>
          <li>La troisième page de recherche permet de rechercher les infractions par nom.</li>
        </ul>
      </section>
      <section>
        <h2>Documentation</h2>
        <p>La documentation de l'API se trouve à l'adresse <a href="https://stephen2000pog.pythonanywhere.com/doc">https://stephen2000pog.pythonanywhere.com/doc</a></p>
      </section>
      <section>
        <h2>Code source</h2>
        <p>Cliquer ici. <a href="https://github.com/stephen2000pog/inf5190">https://github.com/stephen2000pog/inf5190</a></p>
      </section>
    </main>
{% endblock %}