{% extends "base.html" %}
{% block title %}Rechercher{% endblock %}
{% block content%}
<div class="container">
  <h1>Recherche de Contraventions</h1>

  <form action="/search-result" method="GET" class="mb-3">
    <p>Rechercher les contravenants par nom d'établissement, propriétaire, rue:</p>
    <div class="input-group">
      <input type="text" id="search-result" name="query" class="form-control">
      <button type="submit" class="btn btn-primary">Rechercher</button>
    </div>
  </form>

  <form class="mb-3">
    <p>Rechercher les contravenants entre deux dates:</p>
    <div class="input-group">
      <label for="date-debut" class="input-group-text">Du :</label>
      <input type="date" id="date-debut" name="du" class="form-control">
      <label for="date-fin" class="input-group-text">Au :</label>
      <input type="date" id="date-fin" name="au" class="form-control">
      <button type="button" class="btn btn-primary" onclick="searchContraventions()">Rechercher</button>
    </div>
  </form>

  <form class="mb-3">
    <p>Rechercher les infractions par nom:</p>
    <div class="input-group">
      <select id="restaurant-select" class="form-select">
      </select>
      <button type="button" class="btn btn-primary" onclick="searchInfractionByEtablissement()">Rechercher</button>
    </div>
  </form>

  <table id="table-contraventions" class="table">
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>

  <table id="table-violations" class="table">
    <thead>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<script type="text/javascript" src="static\ajax.js">
</script>
{% endblock %}